<div class="wrapper">
    <section class="paralax">
      <div class="paralax-body">
        <div class="text">
          <div class="text-content">HELLO</div>
        </div>
        <div class="paralax-images">
          <div class="paralax-item">
            <div class="paralax-star"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <h2>інший контент сайту</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus autem
        beatae blanditiis alias. Vero iusto laudantium magni aliquid, laborum
        libero aperiam itaque rem fugit architecto quibusdam quis provident.
        Necessitatibus, temporibus.
      </p>
    </section>
  </div>